/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #fff;
}

nav .brand-logo {
  font-size: 30px;
  font-weight: 600;
}

p {
  line-height: 2rem;
}

img.center {
  margin: 30px auto;
  display: block;
  max-width: 100%;
}

.sidenav-trigger {
  color: #fff;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

.gradient {
  background: #1a237e;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #1a237e, #020842);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #1a237e, #020842); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.gradient.icon-container h5,
.gradient.icon-container p {
  color: #FFFFFF;
}

.icon-container {
  padding: 50px 0;
}

.img-center img {
  width: 100%;
}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

#index-banner {
  padding: 180px 0 230px;
}

#index-banner img {
  filter: brightness(0.4);
}

#assessment-button {
  margin-top: 50px;
}

#framework-form,
#research {
  padding: 30px 0;
}

.avatar {
  width: 100%;
  border: 3px solid #000;
}

.small {
  font-size: 0.8em;
  line-height: 1.8em;
}

h6 {
  margin-top: 50px;
  font-weight: bold;
}

h6.counter-question {
  margin-top: 30px;
}

h6.disabled {
  color: #BBB;
}

label {
  color: inherit;
}

.active-item {
  font-weight: bold;
}

#myChart {
  width: 600px;
  height: 600px;
}

.form-question-answer {
  padding: 20px 0 40px;
}

th {
    background: #333;
    border-radius: 0;
    color: #FFF;
}

.counter-question {
  margin-left: 50px;
}

.versus-success,
.versus-early,
.versus-mid,
.versus-late {
  display: none;
}

.versus-section {
  width: 25%;
  height: 500px;
  float: left;
  text-align: center;
  border: 1px solid white;
  position: relative;
}

.versus-section div {
    z-index: 101;
    position: absolute;
    top: 0;
    width: 100%;
}

.versus-section-1 {
  /*success - green*/
  background-color: #4BAF48;
}

.low {
  color: #4BAF48;
  font-weight: bold;
}

tr td.low {
  background-color: #4BAF48cc;
  color: #000;
  font-weight: normal;
}

.versus-section-2 {
  /*early stage failure - yellow*/
  background-color: #EDD447cc;
}

.medium {
  color: #EDD447;
  font-weight: bold;
}

tr td.medium {
  background-color: #EDD447cc;
  color: #000;
  font-weight: normal;
}

.versus-section-3 {
  /*mid stage failure - orange*/
  background-color: #E89F47;
}

.high {
  color: #E89F47;
  font-weight: bold;
}

tr td.high {
  background-color: #E89F47cc;
  color: #000;
  font-weight: normal;
}

.versus-section-4 {
  /*late stage failure - red*/
  background-color: #E84855;
}

.very-high {
  color: #E84855;
  font-weight: bold;
}

tr td.very-high {
  background-color: #E84855cc;
  color: #000;
  font-weight: normal;
}

table, th, td {
  border: 2px solid white;
  border-radius: 0;
}

td {
  background-color: #efefef;
}

.versus-bubble-chart {
  width: 90%;
  height: 100%;
  z-index: 9;
  position: absolute;
  left: 5%;
}

.versus-container {
  width: 100%;
  height: 500px;
  position: relative;
}

.versus-container img {
  border-style: none;
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 100%;
  z-index: 8;
}

.factor-row {
  text-align: center;
  border: 1px solid white;
  height: 50px;
  text-align: center;
  color: white;
}

.factor-row-1 {
  background-color: #300b58;
  color: #FFF;
}

.factor-row-2 {
  background-color: #662ea2;
  color: #FFF;
}

.factor-row-3 {
  background-color: #9971c3;
  color: #FFF;
}

.factor-row-4 {
  background-color: #222222;
  height: 70px;
  position: relative;
}

.factor-row-4 .left {
  position: absolute;
  top: 15px;
  width: 120px;
  text-align: left;
  left: 10px;
  font-size: 0.8em;
}

.factor-row-4 .right {
  position: absolute;
  top: 15px;
  width: 120px;
  text-align: right;
  right: 10px;
  font-size: 0.8em;
}

.firm-factor-bg {
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-width: 0;
  border-style: solid;
  border-color: transparent;
  border-bottom-color: #004eff66;
  border-right-width: 1215px;
  border-bottom-width: 68px;
}

.tooltip {
	position: absolute;
	top: 100px;
	left: 100px;
  -moz-border-radius:5px;
	border-radius: 5px;
  border: 2px solid #000;
  background: #fff;
	opacity: .9;
  color: black;
	padding: 10px;
	width: 300px;
	font-size: 12px;
	z-index: 10;
}

.tooltip .title {
	font-size: 13px;
}

#score-dial {
  width: 100%;
  height: 200px;
}

.score-container {
  height: 200px;
  position: relative;
}

.score {
  position: absolute;
  bottom: 0;
  left: 30%;
  width: 40%;
  font-size: 60px;
  text-align: center;
  font-weight: bold;
}

.card {
  padding: 20px;
}

.arrow {
  width: 40px;
  height: 340px;
  position: absolute;
  display: inline-block;
  margin: 10px 10px;
  z-index: 100;
  opacity: 0.7;
}

.arrow:before, .arrow:after {
    content: '';
    border-color: transparent;
    border-style: solid;
    position: absolute;
}

.arrow-down::before {
    border: none;
    background-color: #fff;
    height: 300px;
    width: 20%;
    top: 0;
    left: 40%;
}

.arrow-down::after {
    left: 0;
    bottom: 0;
    border-width: 20px 20px;
    border-top-color: #fff !important;
}

.arrow.arrow-1 {
    height: 150px;
    top: -10px;
}

.arrow.arrow-1.arrow-late {
    left: 77%;
}

.arrow.arrow-1.arrow-mid {
    left: 52%;
}

.arrow.arrow-1.arrow-early {
    left: 27%;
}

.arrow.arrow-1.arrow-success {
    left: 2%;
}

.arrow-down.arrow-1::before {
    height: 110px;
}

.arrow.arrow-2 {
    height: 200px;
    top: -60px;
}

.arrow.arrow-2.arrow-late {
    left: 83.5%;
}

.arrow.arrow-2.arrow-mid {
    left: 58.5%;
}

.arrow.arrow-2.arrow-early {
    left: 33.5%;
}

.arrow.arrow-2.arrow-success {
    left: 8.5%;
}

.arrow-down.arrow-2::before {
    height: 160px;
}

.arrow.arrow-3 {
    height: 250px;
    top: -110px;
}

.arrow.arrow-3.arrow-late {
    left: 90%;
}

.arrow.arrow-3.arrow-mid {
    left: 65%;
}

.arrow.arrow-3.arrow-early {
    left: 40%;
}

.arrow.arrow-3.arrow-success {
    left: 15%;
}

.arrow-down.arrow-3::before {
    height: 210px;
}

#auto-populate {
  cursor: pointer;
}

.tooltip h7 {
  font-weight: bold;
  font-size: 13px;
}

.raw-responses {
  margin-top: 1000px;
}

.failure-factor-grid .failure-factor-row,
.failure-factor-grid .mitigation {
  display: none;
}

.failure-factor-grid .none {
  display: table-row;
}

a.mitigation-link {
  font-size: 14px;
  cursor: pointer;
  width: 100%;
  display: block;
}

.mitigation td {
  padding: 0 50px 5px;
  position: relative;
}

.close-row {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  padding: 5px 10px;
  line-height: 1em;
}

[type="radio"]:checked + span:after,
[type="radio"].with-gap:checked + span:before,
[type="radio"].with-gap:checked + span:after {
    border: 2px solid #303f9f;
}

[type="radio"]:checked + span:after, [type="radio"].with-gap:checked + span:after {
    background-color: #303f9f;
}

.cookie-banner {
	position: fixed;
	bottom: 0px;
  left: 0px;
  width: 100%;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #333;
  color: #FFF;
  padding: 0 20px;
}

.close {
  height: 20px;
  background-color: transparent;
  border: none;
  color: white;
  border-radius: 2px;
  cursor: pointer;
}
